@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist


<h2>Stylist's Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

<p>@Html.ActionLink("Back to Stylists", "Index", null, null , new {@class="myCssClass"})</p>
<p>@Html.ActionLink("Edit stylist", "Edit",  new { id = Model.StylistId }, new {@class="myCssClass"})</p>
<p>@Html.ActionLink("Delete Stylist", "Delete",  new { id = Model.StylistId }, new {@class="myCssClass"})</p>